<div class="head">
<br>
<p class="logo"><img src="http://s16.postimg.org/3utbq3eut/logofinal1.png" style="width:300px;height:100px;"></img></p>
</div>
<div class="jumbotron">
</div>

<br>
  <div class="row">
  <% @projects.each do |project| %>


  <div class="large-3 columns"><h2 class="projects"><%= link_to project.title, project %></h2>
    <ul class="list">
      <li><%= project.description%></li>
      <li><%= project.goal%></li>
      <li><%= project.end_date%></li>
      <%= image_tag project.image.url %>
    <ul>


  </div>

  <% end %>
  </div>
