<h1 class="name" ><%= @project.title %></h1>
<div class="showroom">

<p class="picing"><%= image_tag @project.image.url %></p>
  <table>
    <tr>
      <th>Description</th>
      <tr>
        <td><%= @project.description %></td>
      </tr>
      <th>Goal</th>
      <tr>
        <td><%= @project.goal %></td>
      </tr>
      <th>Raised</th>
      <tr>
        <td><%= @project.total %></td>
      </tr>
      <th>Deadline</th>
      <tr>
        <td><%= @project.end_date %></td>
      </tr>
      <th>Time Left</th>
      <tr>
        <td><%= distance_of_time_in_words(Time.now, @project.end_date) %></td>
      </tr>
  </table>

<table>
  <th>Pledges for <%= @project.title %></th>

<tr><% @project.pledges.each do |pledge| %></tr>
<td><%= pledge.formatted_price %></td>
</table>
<% end %>



<p><%= link_to "Make a Pledge", new_project_pledge_path(@project, @pledge) %></p>

<p><%= link_to "Edit Project", edit_project_path(@project) %></p>

<p><%= link_to "Back to Projects", projects_path %></p>
