<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeFund</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to 'Log In', new_sessions_path %> | <%= link_to 'Sign Up', new_users_path %><p>
    <%= yield %>
  </body>
</html>
